body {
  padding-left: 500px;
}

.container {
  border: 1px solid black;
  position: fixed;
  top: 0px;
  left: 0px;
}

.key {
  background-image: url('../images/key.png');
  background-size: contain;
  position: fixed;
}

.dashboard {
  background-image: url('../images/dashboard.png');
  background-size: contain;
  position: fixed;
}

.badge {
  background-image: url('../images/badge.png');
  background-size: contain;
  position: fixed;
}

.ghost {
  opacity: 0.4;
}
