body {
  position: fixed;
  padding: 0px;
}

.container {
  border: 1px solid black;
  position: fixed;
  top: 0px;
  left: 0px;
}

.key {
  background-image: url('../images/key.png');
  background-size: contain;
  position: fixed;
  //transition: top 0.8s, left 0.8s;
}

.dashboard {
  background-image: url('../images/dashboard.png');
  background-size: contain;
  position: fixed;
  //transition: top 0.8s, left 0.8s;
}

.ghost {
  opacity: 0.4;
}
